<div class="item">
    Camera
    <p>
        <table>
            <tr>
                <th>
                    Status
                </th>
                <td>
                    <div id="panel_camera_status"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Filter
                </th>
                <td>
                    <div id="panel_camera_filter"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Temp.
                </th>
                <td>
                    <div id="panel_camera_temperature"></div>
                </td>
            </tr>
        </table>
    </p>
</div>