
<div class="item">
    Telescope
    <p>
        <table>
            <tr>
                <th>
                    RA
                </th>
                <td>
                    <div id="panel_mount_ra"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Dec
                </th>
                <td>
                    <div id="panel_mount_dec"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Alt
                </th>
                <td>
                    <div id="panel_mount_alt"></div>
                </td>
            </tr>
            <tr>
                <th>
                    Az
                </th>
                <td>
                    <div id="panel_mount_az"></div>
                </td>
            </tr>
        </table>
    </p>
</div>