<div class="item">
    Time
    <p>
        <table>
        <tr>
            <th>
                UTC
            </th>
            <td style="padding-left: 10px">
                <div id="panel_time_utc"></div>
            </td>
        </tr>
        <tr>
            <th>
                MJD
            </th>
            <td>
                <div id="panel_time_mjd"></div>
            </td>
        </tr>
        <tr>
            <th>
                local
            </th>
            <td>
                <div id="panel_time_local"></div>
            </td>
        </tr>
    </table>
    </p>

</div>